<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETAIL</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/purchase/purchase.css" />
</head>
<body>
<div id="container">
    <div id="top">
        <div id="logo">
            <img src="__PUBLIC__/Image/index/1.gif" height="120">
        </div>
        <div id="shu">
            <div id="st">
                <img src="__PUBLIC__/Image/index/aa.jpg" width="100%">
            </div>
            <div id="navi">
                <a href="__URL__/logout">注销</a>
                <a href="__URL__/upload">上传票源</a>
                <a href="__URL__/detail">订单详情</a>
                <a href="__ROOT__/Home/User/login">登录注册</a>
                <a href="__URL__/index">首页</a>
            </div>
        </div>
    </div>
    <div id="po">
        <div id="hh">
            <table border="1" align="center">
                <th>头像</th><th>用户名</th><th>下单内容</th><th>单价</th><th>数量</th><th>总价</th><th>下单时间</th><th>联系方式</th><th>修改</th><th>删除</th>
                <volist name="list" id="item">
                    <tr>
                        <td rowspan="2"><img src="__PUBLIC__/Image/user/pic/{$item.img}" width="60px;" height="60px;"></td>
                        <td rowspan="2">{$item.username}</td>
                        <td rowspan="2">{$item.intro}<br/>{$item.address}<br/>{$item.time}</td>
                        <td rowspan="2">{$item.price}元</td>
                        <td rowspan="2">{$item.quantity}张</td>
                        <td rowspan="2">{$item.addprice}元</td>
                        <td rowspan="2">{$item.ordtime}</td>
                        <td>邮箱：{$item.email}</td>
                        <td rowspan="2"><input type="button" value="修改订单" onclick="window.location.href='__URL__/update?ordid={$item.ordno}&userid={$item.id}&detail_id={$item.detail_id}'"/></td>
                        <td rowspan="2"><button onClick="if(confirm('确实取消此次订单吗？')) return (location.href ='__URL__/delete?ordid={$item.ordno}&detail_id={$item.detail_id}');else return false;" class=/"button/";>取消订单</button></td>
                    </tr>
                    <tr><td>电话号码：{$item.tel}</td></tr>
                </volist>
                <tr><td align="center" colspan="10"><p>{$page}</p></td></tr>
            </table>
        </div>
    </div>
    <div id="foot">
        17240045赵家敏
    </div>
</div>
</body>
</html>